// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$green-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Barlow,
      density: 0,
    )
  );
}

:root {
  --primary-color: #5a8659; // Green
  --secondary-color: #375680; // Blue
  --accent-color: orange; // Orange

  --s-color-light-theme-primary: var(--primary-color);
}

// Add this to override hover styles globally:
button.quiz-option {
  transition:
    transform 0.1s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.2s;
  will-change: transform, box-shadow;
}
button.quiz-option:hover {
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.45);
  transform: translateY(-2px);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Barlow, 'Helvetica Neue', sans-serif;
}

mat-progress-bar {
  margin-top: 2rem;
}

.results-step {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  width: auto;
}

.s-container {
  text-align: center;
}

.homepage {
  h1 {
    padding-top: 1rem;
  }
}

.buttons-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-items: center;
}

.quiz-container {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  min-height: 500px;
  margin-bottom: 2rem;
}

.step {
  padding-top: 1rem;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  height: 100%;
  text-align: left;
  max-width: 650px;
  margin: 0 auto;

  img {
    border-radius: 2rem;
    width: 100%;
  }
}

.about {
  text-align: left;
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
}

section {
  padding-top: 2rem;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  //background-color: rgba(90, 134, 89, 0.3);
  margin-bottom: 0;
  padding-bottom: 0;

  &.stats {
    background-color: rgba(90, 134, 89, 1);
    color: white;
    padding: 2rem 0 2rem 0;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      @media (min-width: 900px) {
        flex-direction: row;
      }

      > div {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2rem;
        //min-width: 230px;

        a {
          color: white;
        }

        &.line {
          border-left: 0;

          @media (min-width: 900px) {
            border-left: 2px solid white;
            padding-left: 1rem;
            margin-left: 1rem;
          }
        }

        span {
          margin-top: 0.25rem;
          font-size: 1rem;
          font-weight: normal;
          line-height: 1.2rem;
        }
      }
    }
  }
}

header {
  background-color: var(--primary-color);
  .logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
  }
  .logo-link {
    border: 0;
  }
  padding: 1rem;
}

footer {
  padding: 3rem 0;
  background-color: var(--secondary-color);
  color: white;
  img {
    max-height: 100px;
  }
}

.copyright {
  padding-top: 1rem;
  font-size: 0.8rem;
}

.free {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-top: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.homepage {
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('/family.jpg') center center / cover no-repeat;
  position: relative;
  color: white;
  min-height: 400px;
}

.card-grid {
  display: grid;
  gap: 1rem;
  cursor: pointer;
  @media (min-width: 0) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }

  mat-card {
    transition:
      transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 0.2s;
    will-change: transform, box-shadow;

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    }
  }

  .mat-mdc-card-header {
    margin: 0 auto;
  }
  .mat-mdc-card-title {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
}

.card-grid-purchase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  mat-card {
    max-width: 300px;
    flex: 1 1 250px;
  }
}

.homepage-decision {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  //justify-items: center;
  mat-card {
    width: 100%;
    max-width: 200px;
    background: var(--secondary-color);
    img {
      max-width: 75px;
      margin: 0 auto;
      padding-top: 1rem;
    }
  }
  mat-card-title {
    color: white;
  }
}

.quiz-input {
  mat-form-field {
    margin-right: 1rem;
  }
}

.slider-step {
  @include mat.slider-overrides(
    (
      active-track-color: var(--accent-color),
    )
  );

  mat-slider {
    width: 100%;
  }

  text-align: center;
  padding: 1rem;

  .slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    margin-top: 0.3rem;
    padding: 0 0.5rem;
    color: rgba(0, 0, 0, 0.6);
  }

  .slider-value {
    margin: 1rem 0 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}
